<li class="list-group-item" id="todo-list-form">
    <form action="" id="todo-item-form">

        <div class="form-group" hidden>
            <span class="pull-right r-cursor-pointer">
                <span class="glyphicon glyphicon-menu-up" id="todo-item-form-hide"></span>
            </span>


            <input type="text" class="form-control hidden" id="item-id">

            <label for="item-title">Title</label>
            <input type="text" class="form-control" id="item-title">
            <br>
            <label for="item-body">Body</label>
            <textarea class="form-control" rows="5" id="item-body" style="max-width: 100%"></textarea>
        </div>

        <button type="submit" class="btn r-new-item" id="item-submit">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </form>
</li>

<div id="list-items"></div>
