<li class="list-group-item r-item ::statusClass" data-id="::id">
    <div class="r-item-body">
        <div class="r-item-check">
            <div class="checkbox">
                <input type="checkbox" id="checkbox-::id" class="regular-checkbox"/>
                <label for="checkbox-::id"></label>
            </div>
        </div>
        <div class="r-item-content">
            <p class="list-group-item-heading r-item-title ::textClass">
                ::title
            </p>
            <span class="pull-right">
                ::options
            </span>
            <br><br>
            <p class="list-group-item-text r-item-body-text ::textClass">
                ::content
            </p>
        </div>
    </div>
</li>
