<div id="wrap" class="wrapper">
    <div id="main" class="container clear-top">

        <ul id="todo-list-group" class="list-group">

            <li class="list-group-item" id="todo-list-form">
                <form action="">

                    <div class="form-group" hidden>
                        <label for="new-item-title">Title</label>
                        <input type="text" class="form-control" id="new-item-title">
                        <br>
                        <label for="new-item-body">Body</label>
                        <textarea class="form-control" rows="5" id="new-item-body" style="max-width: 100%"></textarea>
                    </div>

                    <button type="submit" class="btn r-new-item" id="new-item-submit">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </form>
            </li>


            <li class="list-group-item r-item r-item-done">
                <div class="r-item-body">
                    <div class="r-item-check">
                        <div class="checkbox">
                            <input type="checkbox" id="checkbox-2" class="regular-checkbox" checked/>
                            <label for="checkbox-2"></label>
                        </div>
                    </div>
                    <div class="r-item-content">
                        <p class="list-group-item-heading r-item-title">
                            <strike>
                                Second List Group Item Heading
                            </strike>
                        </p>
                        <span class="pull-right">
                            <button class="btn btn-link" data-toggle="tooltip" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                        <br><br>
                        <p class="list-group-item-text r-item-body-text">
                            <strike>
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                            </strike>
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item r-item r-item-postponed">
                <div class="r-item-body">
                    <div class="r-item-check">
                        <div class="checkbox">
                            <input type="checkbox" id="checkbox-3" class="regular-checkbox"/>
                            <label for="checkbox-3"></label>
                        </div>
                    </div>
                    <div class="r-item-content">
                        <p class="list-group-item-heading r-item-title">
                            <i>
                                Third List Group Item Heading
                            </i>
                        </p>
                        <span class="pull-right">
                            <button class="btn btn-link" data-toggle="tooltip" title="Restore">
                                <span class="glyphicon glyphicon-share-alt"></span>
                            </button>
                            <button class="btn btn-link" data-toggle="tooltip" title="Edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button class="btn btn-link" data-toggle="tooltip" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                        <br><br>
                        <p class="list-group-item-text r-item-body-text">
                            <i>
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                                List Group Item Text
                            </i>
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item r-item r-item-active">
                <div class="r-item-body">
                    <div class="r-item-check">
                        <div class="checkbox">
                            <input type="checkbox" id="checkbox-4" class="regular-checkbox"/>
                            <label for="checkbox-4"></label>
                        </div>
                    </div>
                    <div class="r-item-content">
                        <p class="list-group-item-heading r-item-title">
                            Fourth List Group Item Heading Fourth List Group Item Heading Fourth List Group Item Heading
                        </p>
                        <span class="pull-right">
                            <button class="btn btn-link" data-toggle="tooltip" title="Postpone">
                                <span class="glyphicon glyphicon-time"></span>
                            </button>
                            <button class="btn btn-link" data-toggle="tooltip" title="Edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button class="btn btn-link" data-toggle="tooltip" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                        <br><br>
                        <p class="list-group-item-text r-item-body-text">
                            List Group Item Text
                            List Group Item Text
                            List Group Item Text
                            List Group Item Text
                            List Group Item Text
                            List Group Item Text
                            List Group Item Text List Group Item Text List Group Item Text
                            List Group Item Text List Group Item Text
                            List Group Item Text List Group Item Text
                            List Group Item Text List Group Item Text
                        </p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
