<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">ROYAL TODO LIST</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav">
                <li class="{{ activeFilter(0) }}">
                    <a (click)="setFilter(0)" class="r-cursor-pointer">
                        <span class="glyphicon glyphicon-list"></span> All
                    </a>
                </li>
                <li class="{{ activeFilter(4) }}">
                    <a (click)="setFilter(4)"
                        class="r-cursor-pointer {{ !countItems([4]) ? 'r-disabled' : '' }}">
                        <span class="glyphicon glyphicon-bell"></span> Active
                    </a>
                </li>
                <li class="{{ activeFilter(3) }}">
                    <a (click)="setFilter(3)"
                        class="r-cursor-pointer {{ !countItems([3]) ? 'r-disabled' : '' }}">
                        <span class="glyphicon glyphicon-time"></span> Postponed
                    </a>
                </li>
                <li class="{{ activeFilter(2) }}">
                    <a (click)="setFilter(2)"
                        class="r-cursor-pointer {{ !countItems([2]) ? 'r-disabled' : '' }}">
                        <span class="glyphicon glyphicon-check"></span> Done
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" *ngIf="moreApps.getApplications().length">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-th"></span> More
                    </a>
                    <ul class="dropdown-menu r-nav-more">
                        <li class="pickList col-sm-4 text-center" *ngFor="let app of moreApps.getApplications()">
                            <a href="{{ app.url }}" class="r-more-app-link" data-toggle="tooltip" title="{{ app.title }}">
                                {{ app.title }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>
</nav>
