<span class="pull-right r-item-actions">
    <button class="btn btn-link" data-toggle="tooltip" title="Postpone" *ngIf="item.isActive()">
        <span class="glyphicon glyphicon-time"></span>
    </button>

    <button class="btn btn-link" data-toggle="tooltip" title="Restore" *ngIf="item.isPostponed()">
        <span class="glyphicon glyphicon-share-alt"></span>
    </button>

    <button class="btn btn-link" data-toggle="tooltip" title="Edit" *ngIf="item.isActive() || item.isPostponed()">
        <span class="glyphicon glyphicon-edit"></span>
    </button>

    <button class="btn btn-link" data-toggle="tooltip" title="Delete">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</span>
