<ul class="list-group">

    <li class="{{ isStatusHidden(4) ? '' : 'list-group-item' }}" [hidden]="isStatusHidden(4)">
        <div class="r-item-form"></div>
    </li>

    <li *ngFor="let item of todoItemService.getItems()"
        class="r-item
               {{ isStatusHidden(item.status) ? '' : 'list-group-item' }}
               {{ item.getStatusClass() }}
               {{ isFullView(item.id) ? 'r-list-item-full' : '' }}"
        [hidden]="isStatusHidden(item.status)"
        [item]="item">

    </li>

</ul>
