<ul class="list-group">

    <li class="list-group-item">
        <form action="">

            <div class="form-group" hidden>
                <label for="new-item-title">Title</label>
                <input type="text" class="form-control" id="new-item-title">
                <br>
                <label for="new-item-body">Body</label>
                <textarea class="form-control" rows="5" id="new-item-body" style="max-width: 100%"></textarea>
            </div>

            <button type="submit" class="btn r-new-item" id="new-item-submit">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </form>
    </li>

    <li *ngFor="let item of todoItemService.getItems()"
        class="list-group-item r-item {{ item.getStatusClass() }}"
        [hidden]="item.isDeleted()"
        [item]="item">

    </li>

</ul>
