<div class="r-item-body {{ isFullView(item.id) ? 'r-item-body-full' : '' }}">
    <div class="r-item-check">
        <div class="checkbox">
            <label [hidden]="isFullView(item.id)">
                <input type="checkbox"
                       class="__regular-checkbox"
                       [checked]="item.isDone()"/>
            </label>
        </div>
    </div>
    <div class="r-item-content">
        <p class="list-group-item-heading r-item-title
                  {{ isFullView(item.id) ? 'r-item-full' : '' }}"
           (click)="fullViewItem(item.id)">
            <i *ngIf="item.isPostponed()">
                {{ item.title }}
            </i>
            <strike *ngIf="item.isDone()">
                {{ item.title }}
            </strike>
            <span *ngIf="item.isActive()">
                {{ item.title }}
            </span>
        </p>

        <item-actions [item]="item" *ngIf="!isFullView(item.id)"></item-actions>

        <button class="btn btn-link pull-right r-close-full-view-btn"
            data-toggle="tooltip"
            title="Close"
            *ngIf="isFullView(item.id)"
            (click)="defaultViewItem(item.id)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <br><br>

        <p class="list-group-item-text
                  {{ isFullView(item.id) ? 'r-item-full r-item-full-text' : 'r-item-body-text' }}"
           (click)="fullViewItem(item.id)">
            <i *ngIf="item.isPostponed()">
                {{ item.content }}
            </i>
            <strike *ngIf="item.isDone()">
                {{ item.content }}
            </strike>
            <span *ngIf="item.isActive()">
                {{ item.content }}
            </span>
        </p>
    </div>
</div>