<div class="r-item-body {{ itemList.isFullView(item.id) ? 'r-item-body-full' : '' }}">
    <div class="r-item-check">
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       class="__regular-checkbox"
                       [checked]="item.isDone()"/>
            </label>
        </div>
    </div>
    <div class="r-item-content">
        <p class="list-group-item-heading r-item-title
                  {{ itemList.isFullView(item.id) ? 'r-item-full' : '' }}"
           (click)="itemList.fullViewItem(item.id)">
            <i *ngIf="item.isPostponed()">
                {{ item.title }}
            </i>
            <strike *ngIf="item.isDone()">
                {{ item.title }}
            </strike>
            <span *ngIf="item.isActive()">
                {{ item.title }}
            </span>
        </p>

        <item-actions [item]="item" *ngIf="!itemList.isFullView(item.id)"></item-actions>
        <br><br>

        <p class="list-group-item-text
                  {{ itemList.isFullView(item.id) ? 'r-item-full r-item-full-text' : 'r-item-body-text' }}"
           (click)="itemList.fullViewItem(item.id)">
            <i *ngIf="item.isPostponed()">
                {{ item.content }}
            </i>
            <strike *ngIf="item.isDone()">
                {{ item.content }}
            </strike>
            <span *ngIf="item.isActive()">
                {{ item.content }}
            </span>
        </p>
    </div>
</div>